# Browser Configuration
# Options: chrome, firefox, safari
BROWSER=chrome
# Set to "true" to run in headed mode (browser visible), otherwise headless
HEADED=true

# Application Configuration
BASE_URL=https://gruppenplatz.healthycloud.de/HC_GP_Public_Pages/

# Viewport Configuration (optional)
VIEWPORT_WIDTH=1920
VIEWPORT_HEIGHT=1080

# Node Environment
NODE_ENV=test
